.card {
  height: 18rem;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card h2 {
  height: 3rem;
  color: #002642;
  font-size: 1rem;
  background-color: #eee7e7;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
