.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filter button {
  background-color: #eee7e7;
  font-size: 1rem;
  color: #002642;
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 0.5px solid #002642;
}

.filter button:hover {
  background-color: #002642;
  color: #eee7e7;
  transform: scale(1.03);
}
