#logo {
  height: 3rem;
  margin: 0.25rem 0.75rem;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  z-index: 2;
}

.header-menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 1rem;
}

.menu-links {
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--main-bg-color);
  width: 7rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.menu-links:hover {
  font-weight: bold;
}
