#logo {
  height: 3rem;
  margin: 0.25rem 0.75rem;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  z-index: 2;
}

.header-menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.header-menu li {
  /* width: 7rem; */
}

.menu-links {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #002642;
  width: 7rem;
}

.menu-links:hover {
  font-weight: bold;
  text-decoration: underline;
}
