#logo {
  height: 4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.header-menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.menu-links {
  text-decoration: none;
  padding: 1rem;
}
